<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,900,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script defer src="{{ "/assets/theme.js" | prepend: site.baseurl }}"></script>
  
  <!-- MathJax for LaTeX support -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true,
        tags: 'ams'
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      },
      svg: {
        fontCache: 'global'
      },
      chtml: {
        scale: 1,
        matchFontHeight: false
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script" async></script>
  
  <!-- MathJax 렌더링 후 스타일 적용 -->
  <style>
    /* 리스트 내 수식 스타일 */
    .c-article__main li .MathJax {
      display: inline !important;
      vertical-align: middle;
      margin: 0 0.2em;
    }
    
    .c-article__main li mjx-container {
      display: inline-block !important;
      margin: 0 0.2em;
      vertical-align: middle;
    }
    
    /* 긴 수식이 리스트를 벗어나지 않도록 */
    .c-article__main li mjx-container[display="true"] {
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 100%;
    }
  </style>
  
  <!-- Mermaid for diagram support -->
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ 
      startOnLoad: true,
      theme: 'default'
    });
  </script>
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
