/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 110rem; // widen container
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem; // 100px
    padding-right: 1rem; // 10px
    padding-left: 1rem; // 10px
}

/* Global theme application */
body {
    background: var(--bg);
    color: var(--text);
}

a { color: var(--link); }

hr, .pagenav, .wrapper, .c-archives__item, .c-toc__nav {
    border-color: var(--border);
}

